.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  
  .pdf-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200%;
    max-width: 1000px; /* Ajusta el ancho máximo según tus preferencias */
    position: relative;
  }
  
  .btn01 {
    color: #fff;
    background-color: #5a22ae;
    cursor: pointer;
    min-width: 50px; /* Ajusta el ancho mínimo según tus preferencias */
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .pdf {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  
  
  